.DS_Store

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/extensions.json

# pixi
.pixi/

# native builds
.native/

# python
.mypy_cache
__pycache__
*.egg-info/
build/
**/.venv

# ros
gazebo/install
gazebo/build
gazebo/log

# drone stuff
gazebo/eeprom.bin
gazebo/logs/
gazebo/terrain/
gazebo/dumpcore.sh_arducopter.*.out
gazebo/dumpstack.sh_arducopter.*.out

# sim tests
cli/gazebo/create/tests

# chrono outputs
chrono/results/*
!chrono/results/.gitkeep

# env
**/*.env
docker/.env
docker/.env.local

# trickfire-docs
dist/
